name: Build and release

on:
  #push:
  #  branches:
  #  - main
  #  paths:
  #  - "setup.py"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.x"
    
    - run: |
        python -m pip install flit
        python -m flit install

    - name: Get package version
      id: get_version
      run: python -c "import keyvalues3;print(f'::set-output name=VERSION::{keyvalues3.__version__}')"

    - name: Publish package, only if correctly tagged
      if: github.ref == format('refs/tags/v{0}', steps.get-version.outputs.VERSION)
      run: |
        python -m flit publish
      env:
        FLIT_USERNAME: __token__
        FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
